<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="widget">
            <h5>Sobre o projeto Vitalis</h5>
            <p>
              Projeto criado por alunos do curso de Engenharia Biomédica na
              <a hrf="http://www.ufu.br/" target="_blank"><u>UFU</u></a>.
              Como projeto da disciplina de Instrumentação Biomédica 2.
            </p>
          </div>
        </div>
        <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="widget">
            <h5>Informação</h5>
            <ul>
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="https://github.com/italogsfernandes/ib1/issues/new" target="_blank">
                  Erros e Sugestões
                </a></li>
              <li><a href="https://github.com/italogsfernandes/ib1/blob/master/LICENSE" target="_blank">
                  Licensa</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="widget">
            <h5>Contato</h5>
            <p>
              Caso deseje entrar em contato com nossa equipe:
            </p>
            <ul>
              <li>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span> +55 34 9 9932 8668
              </li>
              <li>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                </span> italogsfernandes@gmail.com
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="widget">
            <h5>Localização</h5>
            <p>Av. João Naves de Ávila, 2121 - Santa Mônica, Uberlândia - MG, 38408-014</p>
          </div>
        </div>
        <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="widget">
            <h5>Redes Sociais</h5>
            <ul class="company-social">
              <li class="social-google"><a href="https://github.com/italogsfernandes/ib1/"><i class="fa fa-github"></i></a></li>
              <li class="social-dribble"><a href="https://www.youtube.com/channel/UCECYC485EvZaWUgXkGmAoPA/"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="wow fadeInLeft" data-wow-delay="0.1s">
            <div class="text-left">
              <p>&copy;Copyright - Walbax Tech.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="wow fadeInRight" data-wow-delay="0.1s">
            <div class="text-right">
              <div class="credits">
                <a href="https://italogsfernandes.github.io/">Italo Fernandes</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
