{% load static %}

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">

  <div class="container navigation">

    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/logo_1.png' %}" alt="Vitalis" width="auto" height="40"
        style="display: inline-block !important;" />
        <span>Vitalis</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'index' %}">Home</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'my-readings' %}">Leituras</a></li>
        {% endif %}
        <li><a href="{% url 'about' %}">Sobre</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% if user.is_authenticated %}
              {% if user.first_name %}
              {{user.first_name}}
              {% elif user.username %}
              {{user.username}}
              {% else %}
              Meu perfil
              {% endif %}
            {% else %}
              Acesso
            {% endif %}
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
              <li><a href="{% url 'admin:logout' %}">Perfil</a></li>
              <li><a href="{% url 'admin:logout' %}?next={% url 'index' %}">Sair</a></li>
            {% else %}
              <li><a href="{% url 'admin:login' %}?next={% url 'my-readings' %}">Entrar</a></li>
              <li>
                <a
                href="mailto:italogsfernandes@gmail.com?subject=Solicitação de Cadastro - Vitalis IB2&body=Bom dia,
Eu gostaria de solicitar um cadastro no serviço de monitoramento.">
                Cadastro
                </a>
              </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
