{% extends "vitalis/base.html" %}
{% load static %}

{% block title %}Leituras{% endblock %}

{% block extra_css %}
{{ block_super }}
{% endblock %}


{% block outside_content %}

<section id="my_readings_section" class="paddingtop-60">
  <div class="margintop-50">
    <div class="col-lg-2">
      <div class="content-section">
        <h5>Opções</h5>
        <div style="padding-bottom: 25px;">
          <form action="{% url 'my-readings' %}" method="post">
            {% csrf_token %}
            <button class='btn btn-primary' type="submit">Realizar Leitura</button>
          </form>
        </div>

        <h5>Sensores</h5>
        <ul>
          <li>
            <input type="checkbox" name="viewer-oximetro" value="oximetro" id="input_oximetro" checked>
            Oximetro
          </li>
          <li>
            <input type="checkbox" name="viewer-batimentos_cardiacos" value="batimentos_cardiacos" id="input_batimentos_cardiacos" checked>
            Batimentos Cardiácos
          </li>
          <li>
            <input type="checkbox" name="viewer-temperatura" value="temperatura" id="input_temperatura" checked>
            Temperatura
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-10">

      <div class="row">
        <div class="col-lg-offset-1 col-lg-6">
          <div>
            <h4 class="text-center">Sinal Oximetro </h4>
            <canvas id="chart_oximetro_pulso"></canvas>
          </div>
        </div>

        <div class="col-lg-offset-1 col-lg-3">
          <div>
            <h4 class="text-center">Temperatura</h4>
            <p id="id_salva_temperatura"
               class="text-center"
               style="font-weight: bold; padding: 175px 0px 175px 0px; font-size: 10ex; color: grey">
              0.00 ºC
            </p>
            <p id="id_p_status">
              Status: -
            </p>
            <p id="id_p_cad">
              CAD (Ajuda ao Diagnóstico): -
            </p>
          </div>
        </div>

        {# <div class="col-lg-6"> #}
          {# <div> #}
            {# <h4>Temperatura</h4> #}
            {# <canvas id="chart_temperatura"></canvas> #}
          {# </div> #}
        {# </div> #}

      </div>

      <div id="readings_list_div">
        {% include 'vitalis/_readings_list.html' %}
      </div>

    </div>
  </div>
</section>

<div style="margin-top: 50px;">
</div>
{% endblock %}

{% block footer %}
{% endblock %}


{% block extra_js %}
{{ block_super }}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@latest/dist/chartjs-plugin-streaming.min.js"></script>

<script type="text/javascript" src="{% static 'js/my-readings.js' %}"></script>

{% endblock %}
